# OS固有ファイル
.DS_Store

# IDE・エディタ設定
.vscode/

# .env ファイルを無視
.env

# ログファイルや一時ファイルを無視
logs/
output/
temp/
processed_txt/
wandb/

# Python のコンパイル済みファイルを無視
*.pyc
__pycache__/

# Conda ロックファイルなども無視
conda-lock.yml

# その他、依存関係管理関連
*.json
*.txt
*.yml
!environment_*.yml
!requirements.txt

# CI用に除外する依存関係ファイル
exclude_for_ci.txt

# シェルスクリプトなどの実行ログファイル
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# テスト・ビルドキャッシュなど
htmlcov/
.tox/
.cache/
pytest_cache/
*.egg-info/
dist/
build/
