[tool.black]
line-length = 120
target-version = ["py310"]

[tool.isort]
profile = "black"
line_length = 120
combine_as_imports = true
include_trailing_comma = true

[tool.pytest.ini_options]
addopts = "-q"
testpaths = ["tests"]