-r requirements.txt

# ===== Test =====
pytest>=8,<10

# ===== Lint / Format =====
black>=24,<27
isort>=5,<7

flake8>=7,<8
flake8-bugbear>=24,<26
flake8-builtins>=2,<3
flake8-comprehensions>=3,<4

# ===== Tools / Plot =====
matplotlib>=3.8,<4